fastapi
uvicorn
langchain
langgraph
careerjet-api-client
duckduckgo-search
torch
transformers
pydantic-settings
python-dotenv
spacy
streamlit
click
python-jose[cryptography]
pycryptodome
passlib
bcrypt
httpx
langgraph
pymongo
careerjet_api_client
spacy